<!DOCTYPE html>
{% load static %}
<html lang="english">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">


    <title>RK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />


    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
 
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"/>
  
    
  </head>
  <body>

    <!-- <img class="qwerty" src="{% static 'main/images/image.png' %}" alt="">
    <style>
      .qwerty{width: 100px;
      height: 100px;}
    </style> -->




      <div
        class="rfid-kassa-f-r-e-eversion23022023214710-container"
      >
        <div
          class="rfid-kassa-f-r-e-eversion23022023214710-rfid-kassa-f-r-e-eversion23022023214710"
        >
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-div"
          >
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div01"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text"
              >
                <span>Контакты</span>
              </span>
              <button
                class="rfid-kassa-f-r-e-eversion23022023214710-button"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text002"
                >
                  <span>Вход</span>
                </span>
              </button>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div02"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text004"
                >
                  <span>KZ</span>
                </span>
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text006"
                >
                  <span>EN</span>
                </span>
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text008"
                >
                  <span>RU</span>
                </span>
              </div>
            </div>
            <!-- src="{% static 'main/images/image.png' %}" -->
            <img
             src = "{% static 'main/images/logo11302-3pii-200w.png' %}"
              alt="logo11302"
              class="rfid-kassa-f-r-e-eversion23022023214710-logo1"
            />
          </div>
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-div03"
          >
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-frame1"
            >
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div04"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div05"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text010"
                  >
                    <span>
                      <span>Автоматизация</span>
                      <br />
                      <span>для вашего бизнеса</span>
                    </span>
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text015"
                  >
                    <span>
                      Сделайте шаг в будущее с нашей инновационной технологией и
                      развивайте бизнес с надежным партнером
                    </span>
                  </span>
                  <button
                    class="rfid-kassa-f-r-e-eversion23022023214710-button1"
                  >
                    <span
                      class="rfid-kassa-f-r-e-eversion23022023214710-text017"
                    >
                      <span>Подключить</span>
                    </span>
                  </button>
                </div>
                <img
                src="{% static 'main/images/vector11305-nmck.svg' %}"
                  
                  alt="Vector11305"
                  class="rfid-kassa-f-r-e-eversion23022023214710-vector1"
                />
                <img
                src="{% static 'main/images/vector21307-4quk.svg' %}"
                 
                  alt="Vector21307"
                  class="rfid-kassa-f-r-e-eversion23022023214710-vector2"
                />
                <img
                src="{% static 'main/images/vector41309-l9r8.svg' %}"
                  
                  alt="Vector41309"
                  class="rfid-kassa-f-r-e-eversion23022023214710-vector4"
                />
                <img
                src="{% static 'main/images/vector51311-xpfl.svg' %}"
                
                  alt="Vector51311"
                  class="rfid-kassa-f-r-e-eversion23022023214710-vector5"
                />
                <img
                src="{% static 'main/images/image1315315-ehmh-600h.png' %}"
              
                  alt="IMAGE1315315"
                  class="rfid-kassa-f-r-e-eversion23022023214710-i-m-a-g-e131"
                />
              </div>
            </div>
          </div>
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-divwhy-us"
          >
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div06"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text019"
              >
                <span>Почему именно мы?</span>
              </span>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-hr"
              ></div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-p"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text021"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text022"
                  >
                    RFID KASSA
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text023"
                  >
                    – позволяет клиентам
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text024"
                  >
                    быстрее и удобнее
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text025"
                  >
                    <span>
                      оплачивать за товары и услуги, что может улучшить их
                      впечатление о бизнесе и повысить уровень удовлетворенности
                      клиентов.
                    </span>
                    <br />
                    <span></span>
                    <br />
                    <span>Наш аппарат даёт возможность собирать более</span>
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text031"
                  >
                    точную аналитику по продажам
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text032"
                  >
                    <span>
                      , так как он записывает каждую транзакцию и позволяет
                      упорядочить данные для более детального анализа.
                    </span>
                    <br />
                    <span></span>
                    <br />
                    <span>Мы понимаем Ваш бизнес, у нас одно видение –</span>
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text038"
                  >
                    Ваш рост.
                  </span>
                  <span>
                    Мы помогаем каждому клиенту достичь бизнес-целей, используя
                    весь наш потенциал.
                  </span>
                </span>
              </div>
              <button
                class="rfid-kassa-f-r-e-eversion23022023214710-button2"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text040"
                >
                  <span>Подробнее</span>
                </span>
              </button>
            </div>
            <img
            src="{% static 'main/images/image688419215320-dpmj-600w.png' %}"
              
              alt="IMAGE688419215320"
              class="rfid-kassa-f-r-e-eversion23022023214710-i-m-a-g-e68841921"
            />
          </div>
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-divabilities"
          >
            <span
              class="rfid-kassa-f-r-e-eversion23022023214710-text042"
            >
              <span>Наши возможности</span>
            </span>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-hr1"
            ></div>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-p1"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text044"
              >
                <span>
                  Увеличьте пропускную способность вашего бизнеса, сокращая
                  затраты на персонал и анализируя продажи
                </span>
              </span>
            </div>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div07"
            >
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div08"
              >
                <img
                src="{% static 'main/images/creditcardeb1f661png172-0op-200w.png' %}"
                  
                  alt="creditcardeb1f661png172"
                  class="rfid-kassa-f-r-e-eversion23022023214710-creditcardeb1f661png"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text046"
                >
                  <span>Сохранение банковских карт</span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div09"
              >
                <img
                src="{% static 'main/images/bill81e5367png175-u8vo-200w.png' %}"
                  
                  alt="bill81e5367png175"
                  class="rfid-kassa-f-r-e-eversion23022023214710-bill81e5367png"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text048"
                >
                  <span>Мгновенная оплата</span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div10"
              >
                <img
                src="{% static 'main/images/pinnumber8c4d8c8png178-hc8n-200w.png' %}"
                  
                  alt="pinnumber8c4d8c8png178"
                  class="rfid-kassa-f-r-e-eversion23022023214710-pinnumber8c4d8c8png"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text050"
                >
                  <span>Аутендификация пользователя</span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div11"
              >
                <img
                src="{% static 'main/images/barcode560e917png181-z0m7-200w.png' %}"
            
                  alt="barcode560e917png181"
                  class="rfid-kassa-f-r-e-eversion23022023214710-barcode560e917png"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text052"
                >
                  <span>
                    <span>RFID технология</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div12"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text057"
                >
                  <span>
                    <span>Экономия</span>
                    <br />
                    <span>времени и денег</span>
                  </span>
                </span>
                <img
                src="{% static 'main/images/clockremovebgpreview11415-irc3-200w.png' %}"
                  
                  alt="clockremovebgpreview11415"
                  class="rfid-kassa-f-r-e-eversion23022023214710-clockremovebgpreview1"
                />
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div13"
              >
                <img
                src="{% static 'main/images/contactless3ecd46dpng187-1e2-200w.png' %}"
                
                  alt="contactless3ecd46dpng187"
                  class="rfid-kassa-f-r-e-eversion23022023214710-contactless3ecd46dpng"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text062"
                >
                  <span>Оплата не доставая карту</span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div14"
              >
                <img
                src="{% static 'main/images/mobilepayment2322897png190-sg4hp-200w.png' %}"
                 
                  alt="mobilepayment2322897png190"
                  class="rfid-kassa-f-r-e-eversion23022023214710-mobilepayment2322897png"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text064"
                >
                  <span>
                    <span>Удобная платформа</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div15"
              >
                <img
                src="{% static 'main/images/mobilepayment21e12306svg193-kn9j.svg' %}"
                  src="public/playground_assets/mobilepayment21e12306svg193-kn9j.svg"
                  alt="mobilepayment21e12306svg193"
                  class="rfid-kassa-f-r-e-eversion23022023214710-mobilepayment21e12306svg"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text069"
                >
                  <span>
                    <span>Аналитика</span>
                    <br />
                    <span>по продажам</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-divhow-it-works"
          >
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div16"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text076"
              >
                <span>Процесс покупки</span>
              </span>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-hr2"
              ></div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-ul"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-li"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text078"
                  >
                    <span>
                      Перед входом в магазин, делается специальная
                      аутентификация пользователя
                    </span>
                  </span>
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-li1"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text080"
                  >
                    <span>Покупатель выбирает нужные ему товары</span>
                  </span>
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-li2"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text082"
                  >
                    <span>
                      Дальше клиент просто проходит через наш кассовый аппарат
                    </span>
                  </span>
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-li3"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text084"
                  >
                    <span>
                      Автоматический происходит подчёт товаров и оплата по нему,
                      не контактируя с кем-либо
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <img
            src="{% static 'main/images/mobilepayment21e12306svg193-kn9j.svg' %}"
              alt="IMAGE3292315321"
              class="rfid-kassa-f-r-e-eversion23022023214710-i-m-a-g-e329231"
            />
          </div>
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-div17"
          >
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-divintegration"
            >
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div18"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text086"
                >
                  <span>Гарантия</span>
                </span>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-hr3"
                ></div>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div19"
              >
                <img
                src="{% static 'main/images/vector75325-tsxc.svg' %}"
                  
                  alt="Vector75325"
                  class="rfid-kassa-f-r-e-eversion23022023214710-vector7"
                />
                <img
                src="{% static 'main/images/image14sdiis4ulltransformed15324-ll9-600h.png' %}"
               
                  alt="IMAGE14sDIIS4uLltransformed15324"
                  class="rfid-kassa-f-r-e-eversion23022023214710-i-m-a-g-e14s-d-i-i-s4u-lltransformed1"
                />
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div20"
                >
                  <button
                    class="rfid-kassa-f-r-e-eversion23022023214710-button3"
                  >
                    <span
                      class="rfid-kassa-f-r-e-eversion23022023214710-text088"
                    >
                      <span>Подключить</span>
                    </span>
                  </button>
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-div21"
                  >
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-hr4"
                    ></div>
                    <span
                      class="rfid-kassa-f-r-e-eversion23022023214710-text090"
                    >
                      <span>
                        Мы совершенствуем процесс приобретения, чтобы покупки
                        ваших клиентов стали проще, быстрее и безопаснее.
                      </span>
                    </span>
                  </div>
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-ul1"
                  >
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-li4"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text092"
                      >
                        <span>Увеличение безопасности</span>
                      </span>
                    </div>
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-li5"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text094"
                      >
                        Стабильность и доступность
                      </span>
                    </div>
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-li6"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text095"
                      >
                        <span>Исключение очередей</span>
                      </span>
                    </div>
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-li7"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text097"
                      >
                        Точный анализ по продажам
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span
              class="rfid-kassa-f-r-e-eversion23022023214710-text098"
            >
              <span>Пресса о нас</span>
            </span>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-hr5"
            ></div>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div22"
            >
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div23"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div24"
                >
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-div25"
                  >
                    <span
                      class="rfid-kassa-f-r-e-eversion23022023214710-text100"
                    >
                      <span>7 февраля 2023</span>
                    </span>
                    <img
                    src="{% static 'main/images/informbureau183-l6tt-200h.png' %}"
                    
                      alt="InformBureau183"
                      class="rfid-kassa-f-r-e-eversion23022023214710-inform-bureau1"
                    />
                  </div>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text102"
                  >
                    <span>"Автоматизированный кассовый аппарат"</span>
                  </span>
                </div>
              </div>
              <img
              src="{% static 'main/images/digitalalmaty182-8t7-400h.png' %}"
        
                alt="digitalalmaty182"
                class="rfid-kassa-f-r-e-eversion23022023214710-digitalalmaty1"
              />
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div26"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div27"
                >
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-div28"
                  >
                    <img
                    src="{% static 'main/images/logosteppe201796d64fsvg1167-03jq.svg' %}"
                    
                      alt="logosteppe201796d64fsvg1167"
                      class="rfid-kassa-f-r-e-eversion23022023214710-logosteppe201796d64fsvg"
                    />
                    <span
                      class="rfid-kassa-f-r-e-eversion23022023214710-text104"
                    >
                      <span>7 февраля 2023</span>
                    </span>
                  </div>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text106"
                  >
                    <span>
                      "Устройство, которое мы делаем, очень эффективно как для
                      продавца, так и для покупателя. Оно не только экономит
                      время обеих сторон, но и решает проблему нехватки
                      персонала в магазинах. Кроме того, оно остановит мелкие
                      кражи в магазинах. Мои коллеги Ерсерік Маханбет, Нұрасыл
                      Амантұр, c которыми мы собирали устройство и писали
                      общий код, нам троим, потребовалось несколько месяцев",
                      — рассказал Адильжан Кадыров.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rfid-kassa-f-r-e-eversion23022023214710-div29"
          >
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div30"
            >
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-p2"
              >
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text108"
                >
                  <span>
                    <span>© 2023 RFID Kassa,</span>
                    <br />
                    <span>Все права защищены</span>
                  </span>
                </span>
              </div>
            </div>
            <img
            src="{% static 'main/images/logoverywhite111813-k6l8-300w.png' %}"
    
              alt="logoverywhite111813"
              class="rfid-kassa-f-r-e-eversion23022023214710-logoverywhite11"
            />
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div31"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text113"
              >
                Контактная информация
              </span>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div32"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-image"
                >
                  <img
                  src="{% static 'main/images/image1241-egrd.svg' %}"
                 
                    alt="image1241"
                    class="rfid-kassa-f-r-e-eversion23022023214710-image01"
                  />
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-p3"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text114"
                  >
                    <span>rfid.kassa@gmail.com</span>
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text116"
                  >
                    <span>(E-Mail)</span>
                  </span>
                </div>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div33"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-image02"
                >
                  <img
                  src="{% static 'main/images/insta11711-gcpq-200w.png' %}"
                
                    alt="insta11711"
                    class="rfid-kassa-f-r-e-eversion23022023214710-insta1"
                  />
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-p4"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text118"
                  >
                    <span>@rfid.kassa</span>
                  </span>
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text120"
                  >
                    <span>(Instagram)</span>
                  </span>
                </div>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div34"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-image03"
                >
                  <img
                  src="{% static 'main/images/image1257-axfq.svg' %}"
                    
                    alt="image1257"
                    class="rfid-kassa-f-r-e-eversion23022023214710-image04"
                  />
                </div>
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text122"
                >
                  <span>+7 (777) 110 6777</span>
                </span>
              </div>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div35"
              >
                <img
                src="{% static 'main/images/locationf4c92fdsvg1261-15x.svg' %}"
              
                  alt="Locationf4c92fdsvg1261"
                  class="rfid-kassa-f-r-e-eversion23022023214710-locationf4c92fdsvg"
                />
                <span
                  class="rfid-kassa-f-r-e-eversion23022023214710-text124"
                >
                  <span>Republic of Kazakhstan, Astana City</span>
                </span>
              </div>
            </div>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div36"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text126"
              >
                <span>Карта сайта</span>
              </span>
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text128"
              >
                <span>Контакты</span>
              </span>
            </div>
            <div
              class="rfid-kassa-f-r-e-eversion23022023214710-div37"
            >
              <span
                class="rfid-kassa-f-r-e-eversion23022023214710-text130"
              >
                <span>Связаться с нами</span>
              </span>
              <div
                class="rfid-kassa-f-r-e-eversion23022023214710-div38"
              >
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div39"
                >
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-image05"
                  >
                    <img
                    src="{% static 'main/images/image1279-wx5.svg' %}"
                 
                      alt="image1279"
                      class="rfid-kassa-f-r-e-eversion23022023214710-image06"
                    />
                  </div>
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-input"
                  >
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-divplaceholder"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text132"
                      >
                        <span>Имя</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div40"
                >
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-image07"
                  >
                    <img
                    src="{% static 'main/images/image1286-irgf.svg' %}"
                      
                      alt="image1286"
                      class="rfid-kassa-f-r-e-eversion23022023214710-image08"
                    />
                  </div>
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-input1"
                  >
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-divplaceholder1"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text134"
                      >
                        <span>Почта</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-div41"
                >
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-image09"
                  >
                    <img
                    src="{% static 'main/images/image1294-p7gl.svg' %}"
                    
                      alt="image1294"
                      class="rfid-kassa-f-r-e-eversion23022023214710-image10"
                    />
                  </div>
                  <div
                    class="rfid-kassa-f-r-e-eversion23022023214710-input2"
                  >
                    <div
                      class="rfid-kassa-f-r-e-eversion23022023214710-divplaceholder2"
                    >
                      <span
                        class="rfid-kassa-f-r-e-eversion23022023214710-text136"
                      >
                        <span>Номер телефона</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="rfid-kassa-f-r-e-eversion23022023214710-textarea"
                ></div>
                <button
                  class="rfid-kassa-f-r-e-eversion23022023214710-button4"
                >
                  <span
                    class="rfid-kassa-f-r-e-eversion23022023214710-text138"
                  >
                    <span>Отправить</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
